name: Push Docker Images

on:
  push:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Build & Publish FE to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: galaxyfuture/comandx
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: Dockerfile
          tags: "latest"
